name: Deploy Frontend

on:
  workflow_run:
    workflows: [Upstream Sync]
    types: [completed]
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Deploy Frontend for ${{ github.ref_name }}
        run: |
          cd frontend-angular/
          export project_name=${{ secrets.FRONTEND_NAME }}
          npm install
          npm run build
          export frontend_branch=${{ secrets.FRONTEND_BRANCH }}
          if [ -n "$frontend_branch" ]; then
            echo "Deploying branch $frontend_branch"
            npx wrangler pages deploy ./dist/frontend-angular/browser --project-name=$project_name --branch $frontend_branch
          else
            echo "Deploying branch production"
            npx wrangler pages deploy ./dist/frontend-angular/browser --project-name=$project_name --branch production
          fi
          echo "Deployed for tag ${{ github.ref_name }}"
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
